$dark: #2C2F33;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        height: 100%;
    font-size: 1rem;
    background-color: $dark;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.splash {
    position: relative;
    background-image: url("/fox_a.jpg");
    background-size: cover;
    height: 700px;
}

.gradient {
    background: linear-gradient(144deg, rgba(187,70,0,1) 0%, rgba(131,41,0,1) 100%);
}

.icon {
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
